################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/River/v15
/River/bin/Debug
/River/obj/Debug
/River/bin/Release
/River/obj/Release
/ConfigTools/obj
/ConfigTools/bin/Release
/ConfigTools/bin/Debug
/Broswer/obj/x86/Debug
/Broswer/obj/Release
/Broswer/obj
/Broswer/bin/x86/Release
/Broswer/bin/x86/Debug
/Broswer/bin
